@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}
/* 상단 */
.top {
  width: 100%;
  height: 70px;
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid black;
  position: fixed;
  flex-wrap: nowrap;
  z-index: 2;
}
.logo {
  /* width: 300px; */
  background-color: rgb(107, 110, 64);
  text-align: center;
  line-height: 50px;
  width: 20%;
}
.top ul {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  white-space: nowrap;
}
.search {
  width: 20%;
  display: flex;
  display: block;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px;
}
.search input {
  height: 30px;
  padding: 5px;
  margin-right: 10px;
  width: 80%;
  border: none;
  box-sizing: border-box;
}

/* 좌측 */
/* .contents{
    display: flex;

} */

.bar {
  width: 20%;
  background-color: rgb(122, 145, 80);
  height: 100%;
  border-right: 1px solid black;
  padding: 30px;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  /* z-index: -1; */
}
.bar video {
  display: block;
  width: 85%;
  margin: 0 auto;
}
.wrap {
  width: 80%;
  float: right;
  position: relative;

  /* align-items: center; */
}
.title {
  /* display: flex; */
  align-items: center;
  position: relative;
  width: 80%;
  height: 80%;
  margin: auto;
  background-color: cornsilk;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.title img {
  display: block;
}

.contents img {
  width: 250px;
  height: 300px;
  object-fit: cover;
  margin-top: 20px;
}
.contents .img-s {
  width: 250px;
  height: 150px;
}
.contents {
  /* flex-direction: row; */
  /* overflow: hidden; */
  /* margin: 20px; */
  display: flex;
}
.contents-in {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 260px;
  border-right: 1px solid black;
}
