@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}
/* 상단 */
.top {
  width: 100%;
  height: 50px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  position: fixed;
  flex-wrap: nowrap;
  z-index: 2;
}
.logo {
  /* width: 300px; */
  background-color: blue;
  text-align: center;
  line-height: 50px;
  min-width: 300px;
}
.top ul {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 15px;
  white-space: nowrap;
}
.search {
  width: 30%;
  display: flex;
  align-items: center;
}
.search input {
  height: 30px;
  padding: 5px;
  margin-right: 10px;
}

/* 좌측 */
/* .contents{
    display: flex;

} */

.bar {
  width: 300px;
  background-color: aquamarine;
  /* height: 100%; */
  border-right: 1px solid black;
  padding: 30px;
  padding-top: 100px;
  /* float: left; */
  /* position: fixed; */
  z-index: -1;
}
.wrap {
  /* width: 70%; */
  display: flex;
  /* float: right; */
  flex-direction: row;
  /* align-items: center; */
}
.title {
  /* display: flex; */
  align-items: center;
  position: relative;
  /* height: 1000px; */
  width: 100%;
  background-color: cornsilk;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.title img {
  /* position: absolute; */
  /* top: 100px; */
  /* left: 0; */
  /* object-fit:contain; */
  display: block;
}

.contents img {
  width: 250px;
  height: 300px;
  object-fit: cover;
  margin-top: 20px;
}
.contents .img-s {
  width: 250px;
  height: 150px;
}
.contents {
  /* flex-direction: row; */
  /* overflow: hidden; */
  /* margin: 20px; */
  display: flex;
}
.contents-in {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 260px;
  border-right: 1px solid black;
}
